<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
      <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
      <title>test</title>
      <link rel="stylesheet" href="{{MEDIA_URL}}test.css" type="text/css" />
  </head>

  <body>
      <h1>helloooo</h1>
      <p>Ok, open media/test.css and start editing, when you save changes will be updated here!</p>
      <p>if you set USE_ETAGS=True in yout settings.py templates will be reloaded too</p>
  </body>
</html>
